$green: #5fc19a;
$red: #dc385b;
$notification-red: #ff4242;
$header-blue: #3f4cf3;
$button-blue: #3e3ef4;
$card-title: #3e42f3;
$tinted-blue: #96b8e8;
$body-grey: #edf1f6;
$card-grey: #f8f8f8;
$subtitle-grey: #6e7a84;