@import './colors';
@import './variables';

@mixin radius-r($value) {
    -webkit-border-radius: $value;
    -moz-border-radius: $value;
    border-radius: $value;
}
@mixin radius-l($value) {
    -webkit-border-radius: $value;
    -moz-border-radius: $value;
    border-radius: $value;
}
@mixin radius($value) {
    -webkit-border-radius: $value;
    -moz-border-radius: $value;
    border-radius: $value;
}



.icon-button {
    padding: 1rem;
    width: 90px;
    @include radius($b-radius);
    svg {
        fill: #343434;
    }
}

.icon-button:focus {
    background: $button-blue;
    color: #fff;
    box-shadow: none;
    svg {
        fill: #fff;
    }
}
