@import '../../sass/colors';
@import '../../sass/fonts';

.brand-card {
    width: 280px;
    background: $card-grey;
    border: none;
    border-radius: 15px;
    margin-left: 50px;
    .title-card {
        color: $card-title;
        font-size: $title;
        border-bottom: 3px solid #fff;
    }
    .body-card {
        width: 100%;    
        border-bottom: 3px solid #fff;
        .category-section {
            width: 50%;
            border-right: 3px solid #fff;
        }
    }
    .button-group {
        //justify-content: space-evenly;
    }
}