@import '../../sass/colors';
@import '../../sass/fonts';
@import '../../sass/variables';
@import '../../sass/globals';

.brand-card {
    width: 280px;
    background: $card-grey;
    border: none;
    @include radius($b-radius);
    margin-left: 50px;
    .title-card {
        color: $card-title;
        font-size: $title;
        border-bottom: 3px solid #fff;
    }
    .body-card {
        width: 100%;    
        border-bottom: 3px solid #fff;
        .category-section {
            width: 50%;
            border-right: 3px solid #fff;
        }
    }
}