@import '../../sass/colors';
@import '../../sass/variables';
@import '../../sass/globals';

.sorting-option {
    width: 240px;
    height: 80px;   
    background: $button-blue;
    color: $tinted-blue;
    margin: 50px 0 0 50px;
    @include radius-l($b-radius-left);
    justify-content: space-evenly;
    .sorting-icon {
        margin-right: 1rem;
        fill: #fff;
    }
}